<%= link_to "Update Manga", "/mangas/#{@manga.id}/edit"%>
<%= link_to "Delete Manga", "/mangas/#{@manga.id}", method: :delete %>
<h1><%= @manga.name %></h1>
<h3><%= @manga.completed %></h3>
<h3><%= @manga.number_of_chapters %></h3>
